<div id="border">
    <div class="sectionLabel">
        <h1 style="padding-left:10px">Metadata</h1>
    </div>
    <div *ngFor="let jlist of obsJlist | async">
        <table style="width: 100%;" *ngIf="strcomp.strCompare(chosenProcess, jlist.name)">
            <tr>
                <td>App Name</td>
                <td>{{ chosenProcess }}</td>
            </tr>
            <tr>
                <td>Namespace</td>
                <td>{{ jlist.pm2_env.namespace }}</td>
            </tr>
            <tr>
                <td>Version</td>
                <td>{{ jlist.pm2_env.version }}</td>
            </tr>
            <tr>
                <td>Restarts</td>
                <td>{{ jlist.pm2_env.unstable_restarts }}</td>
            </tr>
            <tr>
                <td>Uptime</td>
                <td>{{ jlist.pm2_env.pm_uptime | date:'mm:ss'}}</td>
            </tr>
            <tr>
                <td>Script Path</td>
                <td>{{ jlist.pm2_env.pm_exec_path }}</td>
            </tr>
            <tr>
                <td>Script Args</td>
                <td>{{ jlist.pm2_env.args }}</td>
            </tr>
            <tr>
                <td>Interpreter</td>
                <td>{{ jlist.pm2_env.exec_interpreter }}</td>
            </tr>
            <tr>
                <td>Interpreter Args</td>
                <td>{{ jlist.pm2_env.node_args }}</td>
            </tr>
            <tr>
                <td>Exec Mode</td>
                <td>{{ jlist.pm2_env.exec_mode }}</td>
            </tr>
            <tr>
                <td>Node.js Version</td>
                <td>{{ jlist.pm2_env.node_version }}</td>
            </tr>
            <tr>
                <td>Watch & Reload</td>
                <td>{{ jlist.pm2_env.watch }}</td>
            </tr>
        </table>
    </div>
</div>