<table style="widows: 100%;">
    <tr>
        <td>App Name</td>
        <td>{{ name }}</td>
    </tr>
    <tr>
        <td>Namespace</td>
        <td>{{ namespace }}</td>
    </tr>
    <tr>
        <td>Version</td>
        <td>{{ version }}</td>
    </tr>
    <tr>
        <td>Restarts</td>
        <td>{{ unstable_restarts }}</td>
    </tr>
    <tr>
        <td>Uptime</td>
        <td>{{ pm_uptime }}</td>
    </tr>
    <tr>
        <td>Script Path</td>
        <td>{{ pm_exec_path }}</td>
    </tr>
    <tr>
        <td>Script Args</td>
        <td>{{ args }}</td>
    </tr>
    <tr>
        <td>Interpreter</td>
        <td>{{ exec_interpreter }}</td>
    </tr>
    <tr>
        <td>Interpreter Args</td>
        <td>{{ node_args }}</td>
    </tr>
    <tr>
        <td>Exec Mode</td>
        <td>{{ exec_mode }}</td>
    </tr>
    <tr>
        <td>Node.js Version</td>
        <td>{{ node_version }}</td>
    </tr>
    <tr>
        <td>Watch & Reload</td>
        <td>{{ watch }}</td>
    </tr>
</table>