<table style="width:100%">
    <tr>
        <td>Heap Size</td>
        <td>{{ heapSizeValue }}</td>
        <td>{{ heapSizeUnit }}</td>
    </tr>
    <tr>
        <td>Heap Usage</td>
        <td>{{ heapUsageValue }}</td>
        <td>{{ heapUsageUnit }}</td>
    </tr>
    <tr>
        <td>Used Heap Size</td>
        <td>{{ usedHeapSizeValue }}</td>
        <td>{{ usedHeapSizeUnit }}</td>
    </tr>
    <tr>
        <td>Active Requests</td>
        <td>{{ activeRequestsValue }}</td>
        <td>{{ activeHandelsValue }}</td>
    </tr>
    <tr>
        <td>Event Loop Latency</td>
        <td>{{ eventLoopLatencyValue }}</td>
        <td>{{ eventLoopLatencyUnit }}</td>
    </tr>
    <tr>
        <td>Event Loop Latency p95</td>
        <td>{{ eventLoopLatencyP95Value }}</td>
        <td>{{ eventLoopLatencyP95Unit }}</td>
    </tr>
    <tr>
        <td>HTTP Mean Latency</td>
        <td>{{ httpMeanLatencyValue }}</td>
        <td>{{ httpMeanLatencyUnit }}</td>
    </tr>
    <tr>
        <td>HTTP p95 Latency</td>
        <td>{{ httpP95LatencyValue }}</td>
        <td>{{ httpP95LatencyUnit }}</td>
    </tr>
    <tr>
        <td>HTTP</td>
        <td>{{ httpValue }}</td>
        <td>{{ httpUnit }}</td>
    </tr>
</table>
