<div id="border">
        
    <div class="sectionLabel">
        <h1 style="padding-left:10px">Process List</h1>
    </div>

    <div *ngFor="let jlist of obsJlist | async">
        <table style="width: 100%;">
            <tr>
                <td style="width: 45%;"><a href=# (click)="onSelected(jlist.name)">{{ jlist.name }}</a></td>
                <td style="width: 10%;">Mem:</td>
                <td style="width: 15%;">{{ jlist.monit.memory/1024/1024 | number:'1.0-0' }} MB</td>
                <td style="width: 10%;">CPU:</td>
                <td style="width: 15%;">{{ jlist.monit.cpu }} %</td>
                <td style="width: 10%;">{{ jlist.pm2_env.status }}</td>
                <td style="width: 5%;"> </td>
            </tr>
        </table>
    </div>
</div>